.App {
  text-align: center;
  background-color: antiquewhite;
  min-height: 55rem;
  height: fit-content;
}
.App-bar {
  margin-left: 1rem;
}

.buttons {
  display: flex;
}
p {
  margin-top: 10%;
  font-size: large;
}
